:root {
  --main-color: #1e2027;
  --secondary-color: #fff;
  --container: #30333d;
  --container-content: #f1f1f1;
  --highlight: #6c5dd3;
  --divider: #505466;

  --navbar-height: 65px;
  --footer-height: 70px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: Cantarell, Roboto, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

html {
  overflow: auto;
}

a {
  text-decoration: none;
}
