.weatherContainer {
  margin: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, max-content));
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 480px) {
  .weatherContainer {
    gap: 0;
  }
}
